p {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.header {
  padding: 1vmin;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  margin-right: 1vmin;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.coords, .stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset {
  margin-top: 0.3vmin;
}

.button {
  width: 2vmin;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  padding: 1vmin;
}

.logo {
  height: 3vmin;
  pointer-events: none;
}

.row {
  display: flex;
}

.pixel {
  display: inline-block;
  height: 2px;
  width: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
